html, body {
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mainContainer {
    font-family: Poppins;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 12rem;
    border-radius: 10px;
    box-shadow: 0 0 40px rgb(196, 196, 196);
}

.quiz {
    font-family: Jomhuria;
    color: #474444;
    font-size: 100px;
    font-weight: 100;
}

.btn button {
    margin-bottom: 3rem;
    margin-top: .5rem;
    height: 40px;
    padding: 5px 4rem 5px 4rem;
    border: none;
    border-radius: 10px;
    font-family: Poppins;
    font-weight: 900;
}

.btnSignup {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #FFFFFF;
}


.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

label {
    font-weight: 900;
    color: #474444;
    text-align: right;
    padding-right: 30px;
    width: 150px;
}

input {
    background-color: #F4F4F4;
    border: none;
    border-radius: 10px 10px 0 0;
    width: 350px;
    height: 33px;
    font-family: Poppins;
    padding: 0 10px 0 10px;
}

.signUp {
    font-family: Poppins;
    background-color: #A9BCFF;
    color: #474444;
    border: none;
    border-radius: 5px;
    width: 275px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
}

button {
    cursor: pointer;
}