html, body {
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mainContainer {
    font-family: Poppins;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgb(196, 196, 196);
}

.quiz {
    font-family: Jomhuria;
    color: #474444;
    font-size: 100px;
    font-weight: 100;
}

.signUp {
    font-family: Poppins;
    background-color: #A9BCFF;
    border: none;
    border-radius: 5px;
    width: 275px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

label {
    font-weight: 900;
    color: #474444;
    padding-right: 5px;
}

input {
    background-color: #F4F4F4;
    border: none;
    border-radius: 10px 10px 0 0;
    width: 300px;
    height: 30px;
    float: right;
}