* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mainContainer {
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz {
    font-family: Jomhuri;

}